USE [master]
GO
/****** Object:  Database [StudentInformationManagementSystem]    Script Date: 21/06/2026 19:31:30 ******/
CREATE DATABASE [StudentInformationManagementSystem]
ALTER DATABASE [StudentInformationManagementSystem] SET COMPATIBILITY_LEVEL = 170
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentInformationManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentInformationManagementSystem]
GO
/****** Object:  Table [dbo].[ACADEMIC_SESSIONS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMIC_SESSIONS](
	[session_id] [varchar](20) NOT NULL,
	[academic_year] [varchar](50) NOT NULL,
	[semester] [varchar](20) NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [varchar](20) NULL,
	[min_credits] [int] NULL,
	[max_credits] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACADEMIC_WARNINGS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMIC_WARNINGS](
	[warning_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[issue_type] [varchar](50) NULL,
	[description] [text] NULL,
	[issued_date] [datetime] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[warning_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINS](
	[user_id] [int] NOT NULL,
	[icon] [varchar](255) NULL,
 CONSTRAINT [PK_ADMINS_user_id] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENTS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENTS](
	[announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[offer_id] [int] NOT NULL,
	[title] [varchar](100) NULL,
	[message] [text] NULL,
	[created_at] [datetime] NULL,
	[file_url] [varchar](255) NULL,
	[is_pinned] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGNMENTS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENTS](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[offer_id] [int] NOT NULL,
	[title] [varchar](100) NULL,
	[description] [text] NULL,
	[file_path] [varchar](255) NULL,
	[total_marks] [int] NULL,
	[due_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE_RECORDS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE_RECORDS](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE_SESSIONS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE_SESSIONS](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[offer_id] [int] NOT NULL,
	[session_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[created_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAT_LOGS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAT_LOGS](
	[chat_log_id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [uniqueidentifier] NOT NULL,
	[user_id] [int] NOT NULL,
	[transcript] [nvarchar](max) NOT NULL,
	[turns] [int] NOT NULL,
	[tools_used] [nvarchar](400) NULL,
	[duration_ms] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_LECTURERS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_LECTURERS](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[lecturer_id] [varchar](20) NOT NULL,
	[course_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_OFFERINGS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_OFFERINGS](
	[offer_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [varchar](20) NOT NULL,
	[lecturer_id] [varchar](20) NOT NULL,
	[semester] [varchar](50) NOT NULL,
	[academic_year] [varchar](50) NOT NULL,
	[section] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[session_id] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[offer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[course_id] [varchar](20) NOT NULL,
	[programme_id] [varchar](20) NOT NULL,
	[course_code] [varchar](20) NULL,
	[course_name] [varchar](100) NULL,
	[credit_hour] [int] NULL,
	[prerequisites] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[colour] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[department_id] [varchar](20) NOT NULL,
	[department_name] [varchar](100) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENROLLMENTS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLLMENTS](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[course_id] [varchar](20) NOT NULL,
	[semester] [varchar](50) NULL,
	[grade] [varchar](10) NULL,
	[status] [varchar](20) NULL,
	[offer_id] [int] NOT NULL,
	[request_type] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[offer_id] [int] NOT NULL,
	[grade_point] [decimal](3, 2) NOT NULL,
	[letter_grade] [varchar](5) NULL,
	[semester] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTURERS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTURERS](
	[lecturer_id] [varchar](20) NOT NULL,
	[user_id] [int] NOT NULL,
	[department_id] [varchar](20) NOT NULL,
	[lecturer_name] [varchar](100) NULL,
	[lecturer_email] [varchar](100) NULL,
	[phone] [varchar](50) NULL,
	[mailing_address] [varchar](255) NULL,
	[icon] [varchar](255) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[lecturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALS](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[module_id] [varchar](20) NOT NULL,
	[title] [varchar](100) NULL,
	[file_url] [varchar](255) NULL,
	[uploaded_at] [datetime] NULL,
	[description] [varchar](500) NULL,
	[file_type] [varchar](20) NULL,
	[file_size_bytes] [int] NULL,
	[material_type] [varchar](30) NULL,
	[due_date] [date] NULL,
	[weight] [decimal](5, 2) NULL,
	[assignment_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULES](
	[module_id] [varchar](20) NOT NULL,
	[offer_id] [int] NOT NULL,
	[module_title] [varchar](100) NULL,
	[module_description] [varchar](255) NULL,
	[week_number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION_READS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION_READS](
	[user_id] [int] NOT NULL,
	[announcement_id] [int] NOT NULL,
	[read_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_NOTIFICATION_READS] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSWORD_RESET_TOKENS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSWORD_RESET_TOKENS](
	[token_hash] [varchar](64) NOT NULL,
	[user_id] [int] NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[used] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_PASSWORD_RESET_TOKENS] PRIMARY KEY CLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_no] [varchar](30) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[description] [varchar](200) NULL,
	[term_label] [varchar](60) NULL,
	[method] [varchar](40) NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[paid_date] [datetime] NOT NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMME_COURSES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMME_COURSES](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[programme_id] [varchar](20) NOT NULL,
	[course_id] [varchar](20) NOT NULL,
	[is_core] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMMES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMMES](
	[programme_id] [varchar](20) NOT NULL,
	[department_id] [varchar](20) NOT NULL,
	[programme_code] [varchar](20) NOT NULL,
	[programme_name] [varchar](100) NOT NULL,
	[education_level] [varchar](50) NULL,
	[duration] [varchar](50) NULL,
	[semester_count] [int] NULL,
	[status] [varchar](20) NULL,
	[semesters_per_year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[programme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[student_id] [varchar](20) NOT NULL,
	[user_id] [int] NOT NULL,
	[programme_id] [varchar](20) NOT NULL,
	[student_name] [varchar](100) NULL,
	[student_email] [varchar](100) NULL,
	[phone] [varchar](50) NULL,
	[mailing_address] [varchar](255) NULL,
	[semester] [int] NULL,
	[current_standing] [varchar](50) NULL,
	[session] [varchar](50) NULL,
	[icon] [varchar](255) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBMISSIONS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBMISSIONS](
	[submission_id] [int] IDENTITY(1,1) NOT NULL,
	[assignment_id] [int] NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[submitted_at] [datetime] NULL,
	[file_url] [varchar](255) NULL,
	[marks_obtained] [decimal](5, 2) NULL,
	[status] [varchar](20) NULL,
	[feedback] [varchar](2000) NULL,
	[annotated_file_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETABLES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETABLES](
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
	[offer_id] [int] NOT NULL,
	[day_of_week] [varchar](20) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[room] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_COOKIES]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_COOKIES](
	[cookie_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[cookie_hash] [varchar](64) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_USER_COOKIES] PRIMARY KEY CLUSTERED 
(
	[cookie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 21/06/2026 19:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_USERS_user_id] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACADEMIC_SESSIONS] ([session_id], [academic_year], [semester], [start_date], [end_date], [status], [min_credits], [max_credits]) VALUES (N'BCS2026S1', N'2026', N'Semester 1', CAST(N'2026-01-12' AS Date), CAST(N'2026-05-08' AS Date), N'Completed', 12, 21)
INSERT [dbo].[ACADEMIC_SESSIONS] ([session_id], [academic_year], [semester], [start_date], [end_date], [status], [min_credits], [max_credits]) VALUES (N'BAI2026S1', N'2026', N'Semester 1', CAST(N'2026-01-12' AS Date), CAST(N'2026-05-08' AS Date), N'Completed', 12, 21)
INSERT [dbo].[ACADEMIC_SESSIONS] ([session_id], [academic_year], [semester], [start_date], [end_date], [status], [min_credits], [max_credits]) VALUES (N'BIT2026S1', N'2026', N'Semester 1', CAST(N'2026-01-12' AS Date), CAST(N'2026-05-08' AS Date), N'Completed', 12, 21)
GO
SET IDENTITY_INSERT [dbo].[ACADEMIC_WARNINGS] ON 

INSERT [dbo].[ACADEMIC_WARNINGS] ([warning_id], [student_id], [issue_type], [description], [issued_date], [status]) VALUES (2, N'p26017889', N'Attendance Notice', N'Attendance is close to the minimum requirement for one module.', CAST(N'2026-06-13T23:32:25.190' AS DateTime), N'OPEN')
INSERT [dbo].[ACADEMIC_WARNINGS] ([warning_id], [student_id], [issue_type], [description], [issued_date], [status]) VALUES (3, N'p26017890', N'Assessment Reminder', N'One assessment has not been submitted yet.', CAST(N'2026-06-13T23:32:25.190' AS DateTime), N'OPEN')
INSERT [dbo].[ACADEMIC_WARNINGS] ([warning_id], [student_id], [issue_type], [description], [issued_date], [status]) VALUES (4, N'p26017891', N'Academic Watch', N'Student has been placed on academic watch for follow-up.', CAST(N'2026-06-13T23:32:25.190' AS DateTime), N'OPEN')
SET IDENTITY_INSERT [dbo].[ACADEMIC_WARNINGS] OFF
GO
INSERT [dbo].[ADMINS] ([user_id], [icon]) VALUES (1, N'uploads/usericon/1-20260621173214201.png')
GO
SET IDENTITY_INSERT [dbo].[ANNOUNCEMENTS] ON 

INSERT [dbo].[ANNOUNCEMENTS] ([announcement_id], [offer_id], [title], [message], [created_at], [file_url], [is_pinned]) VALUES (1, 2, N'321', N'3213213213', CAST(N'2026-06-21T18:20:42.513' AS DateTime), NULL, 0)
INSERT [dbo].[ANNOUNCEMENTS] ([announcement_id], [offer_id], [title], [message], [created_at], [file_url], [is_pinned]) VALUES (2, 2, N'321321312', N'321312', CAST(N'2026-06-21T18:20:57.630' AS DateTime), N'~/uploads/announcements/20260621182057-91a30f20-9494e17b-05ab-43e7-a532-0b447b720b16.pdf', 0)
SET IDENTITY_INSERT [dbo].[ANNOUNCEMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE_RECORDS] ON 

INSERT [dbo].[ATTENDANCE_RECORDS] ([attendance_id], [session_id], [student_id], [status]) VALUES (1, 1, N'p26017889', N'PRESENT')
INSERT [dbo].[ATTENDANCE_RECORDS] ([attendance_id], [session_id], [student_id], [status]) VALUES (2, 1, N'p26017888', N'PRESENT')
SET IDENTITY_INSERT [dbo].[ATTENDANCE_RECORDS] OFF
GO
SET IDENTITY_INSERT [dbo].[ATTENDANCE_SESSIONS] ON 

INSERT [dbo].[ATTENDANCE_SESSIONS] ([session_id], [offer_id], [session_date], [start_time], [end_time], [created_by]) VALUES (1, 1, CAST(N'2026-06-21' AS Date), CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), N'LEC001')
SET IDENTITY_INSERT [dbo].[ATTENDANCE_SESSIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[CHAT_LOGS] ON 

SET IDENTITY_INSERT [dbo].[CHAT_LOGS] OFF
GO
SET IDENTITY_INSERT [dbo].[COURSE_LECTURERS] ON 

INSERT [dbo].[COURSE_LECTURERS] ([assignment_id], [lecturer_id], [course_id]) VALUES (1, N'LEC001', N'BCS101')
INSERT [dbo].[COURSE_LECTURERS] ([assignment_id], [lecturer_id], [course_id]) VALUES (2, N'LEC002', N'BCS102')
INSERT [dbo].[COURSE_LECTURERS] ([assignment_id], [lecturer_id], [course_id]) VALUES (3, N'LEC003', N'BCS103')
SET IDENTITY_INSERT [dbo].[COURSE_LECTURERS] OFF
GO
SET IDENTITY_INSERT [dbo].[COURSE_OFFERINGS] ON 

INSERT [dbo].[COURSE_OFFERINGS] ([offer_id], [course_id], [lecturer_id], [semester], [academic_year], [section], [status], [session_id]) VALUES (1, N'BCS101', N'LEC001', N'Semester 1', N'2026', N'A', N'ACTIVE', N'BCS2026S1')
INSERT [dbo].[COURSE_OFFERINGS] ([offer_id], [course_id], [lecturer_id], [semester], [academic_year], [section], [status], [session_id]) VALUES (2, N'BCS102', N'LEC001', N'Semester 1', N'2026', N'A', N'ACTIVE', N'BCS2026S1')
INSERT [dbo].[COURSE_OFFERINGS] ([offer_id], [course_id], [lecturer_id], [semester], [academic_year], [section], [status], [session_id]) VALUES (3, N'BCS103', N'LEC001', N'Semester 1', N'2026', N'A', N'ACTIVE', N'BCS2026S1')
SET IDENTITY_INSERT [dbo].[COURSE_OFFERINGS] OFF
GO
INSERT [dbo].[COURSES] ([course_id], [programme_id], [course_code], [course_name], [credit_hour], [prerequisites], [status], [colour]) VALUES (N'BAI101', N'BAI', N'BAI101', N'Introduction to Artificial Intelligence', 3, N'None', N'ACTIVE', N'#6D28D9')
INSERT [dbo].[COURSES] ([course_id], [programme_id], [course_code], [course_name], [credit_hour], [prerequisites], [status], [colour]) VALUES (N'BAI102', N'BAI', N'BAI102', N'Machine Learning Fundamentals', 3, N'BAI101', N'ACTIVE', N'#7C3AED')
INSERT [dbo].[COURSES] ([course_id], [programme_id], [course_code], [course_name], [credit_hour], [prerequisites], [status], [colour]) VALUES (N'BAI103', N'BAI', N'BAI103', N'Deep Learning', 3, N'BAI102', N'ACTIVE', N'#8B5CF6')
GO
INSERT [dbo].[DEPARTMENTS] ([department_id], [department_name], [status]) VALUES (N'D_BUS', N'School of Business', N'ACTIVE')
INSERT [dbo].[DEPARTMENTS] ([department_id], [department_name], [status]) VALUES (N'D_COMP', N'School of Computing', N'ACTIVE')
INSERT [dbo].[DEPARTMENTS] ([department_id], [department_name], [status]) VALUES (N'D_DATA', N'School of Data Science', N'ACTIVE')
GO
SET IDENTITY_INSERT [dbo].[ENROLLMENTS] ON 

INSERT [dbo].[ENROLLMENTS] ([enrollment_id], [student_id], [course_id], [semester], [grade], [status], [offer_id], [request_type]) VALUES (6, N'p26017889', N'BCS101', N'2026 Semester 1', N'A', N'ENROLLED', 1, NULL)
INSERT [dbo].[ENROLLMENTS] ([enrollment_id], [student_id], [course_id], [semester], [grade], [status], [offer_id], [request_type]) VALUES (7, N'p26017890', N'BCS102', N'2026 Semester 1', N'B', N'ENROLLED', 2, NULL)
INSERT [dbo].[ENROLLMENTS] ([enrollment_id], [student_id], [course_id], [semester], [grade], [status], [offer_id], [request_type]) VALUES (8, N'p26017891', N'BCS103', N'2026 Semester 1', N'C+', N'ENROLLED', 3, NULL)
SET IDENTITY_INSERT [dbo].[ENROLLMENTS] OFF
GO
INSERT [dbo].[LECTURERS] ([lecturer_id], [user_id], [department_id], [lecturer_name], [lecturer_email], [phone], [mailing_address], [icon], [status]) VALUES (N'LEC001', 2, N'D_COMP', N'Demo Lecturer', N'lecturer@lecturer.newinti.edu.my', N'03-12345678', N'INTI International University, Nilai, Negeri Sembilan', N'uploads/usericon/2-20260621170759050.png', N'ACTIVE')
INSERT [dbo].[LECTURERS] ([lecturer_id], [user_id], [department_id], [lecturer_name], [lecturer_email], [phone], [mailing_address], [icon], [status]) VALUES (N'LEC002', 8, N'D_COMP', N'Dr. Sarah Lee', N'sarah.lee@lecturer.newinti.edu.my', N'03-22345678', N'INTI International University, Nilai, Negeri Sembilan', N'/images/lecturers/lec002.png', N'ACTIVE')
INSERT [dbo].[LECTURERS] ([lecturer_id], [user_id], [department_id], [lecturer_name], [lecturer_email], [phone], [mailing_address], [icon], [status]) VALUES (N'LEC003', 9, N'D_COMP', N'Mr. Amir Rahman', N'amir.rahman@lecturer.newinti.edu.my', N'03-32345678', N'INTI International University, Nilai, Negeri Sembilan', N'/images/lecturers/lec003.png', N'ACTIVE')
GO
SET IDENTITY_INSERT [dbo].[MATERIALS] ON 

INSERT [dbo].[MATERIALS] ([material_id], [module_id], [title], [file_url], [uploaded_at], [description], [file_type], [file_size_bytes], [material_type], [due_date], [weight], [assignment_id]) VALUES (1, N'MOD_1_W1', N'lol', N'~/uploads/materials/off1-20260621181435888-Artificial intelligence.pdf', CAST(N'2026-06-21T18:14:35.893' AS DateTime), N'mima', N'pdf', 150422, N'Lecture Notes', NULL, NULL, NULL)
INSERT [dbo].[MATERIALS] ([material_id], [module_id], [title], [file_url], [uploaded_at], [description], [file_type], [file_size_bytes], [material_type], [due_date], [weight], [assignment_id]) VALUES (2, N'MOD_2_W1', N'123', N'~/uploads/materials/off2-20260621181953590-5023CMD_CHEW_ZHI_BOON_P26017888_Assignment1 .pdf', CAST(N'2026-06-21T18:19:53.593' AS DateTime), N'123', N'pdf', 724847, N'Lecture Notes', NULL, NULL, NULL)
INSERT [dbo].[MATERIALS] ([material_id], [module_id], [title], [file_url], [uploaded_at], [description], [file_type], [file_size_bytes], [material_type], [due_date], [weight], [assignment_id]) VALUES (3, N'MOD_2_W2', N'321', N'~/uploads/materials/off2-20260621182006329-Design Thinking Group FIve.pptx', CAST(N'2026-06-21T18:20:06.337' AS DateTime), N'33333', N'pptx', 5142038, N'Lecture Notes', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MATERIALS] OFF
GO
INSERT [dbo].[MODULES] ([module_id], [offer_id], [module_title], [module_description], [week_number]) VALUES (N'MOD_1_W1', 1, N'Week 1', N'Lecture materials for Week 1.', 1)
INSERT [dbo].[MODULES] ([module_id], [offer_id], [module_title], [module_description], [week_number]) VALUES (N'MOD_2_W1', 2, N'Week 1', N'Lecture materials for Week 1.', 1)
INSERT [dbo].[MODULES] ([module_id], [offer_id], [module_title], [module_description], [week_number]) VALUES (N'MOD_2_W2', 2, N'Week 2', N'Lecture materials for Week 2.', 2)
GO
INSERT [dbo].[NOTIFICATION_READS] ([user_id], [announcement_id], [read_at]) VALUES (2, 1, CAST(N'2026-06-21T10:25:19.7002171' AS DateTime2))
INSERT [dbo].[NOTIFICATION_READS] ([user_id], [announcement_id], [read_at]) VALUES (2, 2, CAST(N'2026-06-21T10:25:25.9712007' AS DateTime2))
INSERT [dbo].[NOTIFICATION_READS] ([user_id], [announcement_id], [read_at]) VALUES (3, 1, CAST(N'2026-06-21T10:20:50.2880333' AS DateTime2))
GO
INSERT [dbo].[PASSWORD_RESET_TOKENS] ([token_hash], [user_id], [expires_at], [used], [created_at]) VALUES (N'0f5b7fde954a07be8040332a72b39eaf2ab375ab8e8dd4f8a41c78c8ee054022', 3, CAST(N'2026-06-21T20:28:51.217' AS DateTime), 1, CAST(N'2026-06-21T19:28:51.217' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PAYMENTS] ON 

INSERT [dbo].[PAYMENTS] ([payment_id], [invoice_no], [student_id], [description], [term_label], [method], [amount], [status], [paid_date]) VALUES (12, N'INV-2026-0012', N'p26017888', N'Tuition — Y2 T2 2025/26', N'Y2 · Trimester 2 (Sep 2026)', N'card', CAST(2385.00 AS Decimal(10, 2)), N'PAID', CAST(N'2026-06-21T01:16:36.037' AS DateTime))
INSERT [dbo].[PAYMENTS] ([payment_id], [invoice_no], [student_id], [description], [term_label], [method], [amount], [status], [paid_date]) VALUES (13, N'INV-2026-0013', N'p26017888', N'Tuition — Y2 T2 2025/26', N'Y2 · Trimester 2 (Sep 2026)', N'card', CAST(1908.00 AS Decimal(10, 2)), N'PAID', CAST(N'2026-06-21T01:25:14.947' AS DateTime))
INSERT [dbo].[PAYMENTS] ([payment_id], [invoice_no], [student_id], [description], [term_label], [method], [amount], [status], [paid_date]) VALUES (14, N'INV-2026-0014', N'p26017888', N'Tuition — Y2 T2 2025/26', N'Y2 · Trimester 2 (Sep 2026)', N'card', CAST(2385.00 AS Decimal(10, 2)), N'PAID', CAST(N'2026-06-21T01:28:12.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[PAYMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROGRAMME_COURSES] ON 

INSERT [dbo].[PROGRAMME_COURSES] ([id], [programme_id], [course_id], [is_core]) VALUES (1, N'BCS', N'BCS101', 1)
INSERT [dbo].[PROGRAMME_COURSES] ([id], [programme_id], [course_id], [is_core]) VALUES (2, N'BCS', N'BCS102', 1)
INSERT [dbo].[PROGRAMME_COURSES] ([id], [programme_id], [course_id], [is_core]) VALUES (3, N'BCS', N'BCS103', 1)
SET IDENTITY_INSERT [dbo].[PROGRAMME_COURSES] OFF
GO
INSERT [dbo].[PROGRAMMES] ([programme_id], [department_id], [programme_code], [programme_name], [education_level], [duration], [semester_count], [status], [semesters_per_year]) VALUES (N'BAI', N'D_DATA', N'BAI', N'Bachelor of Artificial Intelligence', N'Bachelor Degree', N'3 Years', 6, N'ACTIVE', 2)
INSERT [dbo].[PROGRAMMES] ([programme_id], [department_id], [programme_code], [programme_name], [education_level], [duration], [semester_count], [status], [semesters_per_year]) VALUES (N'BCS', N'D_COMP', N'BCS', N'Bachelor of Computer Science (BCS)', N'Bachelor Degree', N'3 Years', 9, N'ACTIVE', 3)
INSERT [dbo].[PROGRAMMES] ([programme_id], [department_id], [programme_code], [programme_name], [education_level], [duration], [semester_count], [status], [semesters_per_year]) VALUES (N'BDS', N'D_DATA', N'BDS', N'Bachelor of Data Science', N'Bachelor Degree', N'3 Years', 6, N'ACTIVE', 2)
GO
INSERT [dbo].[STUDENTS] ([student_id], [user_id], [programme_id], [student_name], [student_email], [phone], [mailing_address], [semester], [current_standing], [session], [icon], [status]) VALUES (N'p26017888', 3, N'BCS', N'Ong Zhi Bo', N'p26017888@student.newinti.edu.my', N'012-3456789', N'INTI International University, Nilai, Negeri Sembilan', 2, N'Good Standing', N'2026 Semester 1', N'uploads/usericon/3-20260621173232917.png', N'ACTIVE')
INSERT [dbo].[STUDENTS] ([student_id], [user_id], [programme_id], [student_name], [student_email], [phone], [mailing_address], [semester], [current_standing], [session], [icon], [status]) VALUES (N'p26017889', 4, N'BCS', N'Alya Tan Mei Xin', N'p26017889@student.newinti.edu.my', N'012-3456790', N'INTI International University, Nilai, Negeri Sembilan', 1, N'Good Standing', N'2026 Semester 1', N'/images/students/p26017889.png', N'ACTIVE')
INSERT [dbo].[STUDENTS] ([student_id], [user_id], [programme_id], [student_name], [student_email], [phone], [mailing_address], [semester], [current_standing], [session], [icon], [status]) VALUES (N'p26017890', 5, N'BCS', N'Brandon Lim Jun Wei', N'p26017890@student.newinti.edu.my', N'012-3456791', N'INTI International University, Nilai, Negeri Sembilan', 2, N'Good Standing', N'2026 Semester 1', N'/images/students/p26017890.png', N'ACTIVE')
GO
SET IDENTITY_INSERT [dbo].[TIMETABLES] ON 

INSERT [dbo].[TIMETABLES] ([timetable_id], [offer_id], [day_of_week], [start_time], [end_time], [room]) VALUES (1, 1, N'Monday', CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time), N'Room A-101')
INSERT [dbo].[TIMETABLES] ([timetable_id], [offer_id], [day_of_week], [start_time], [end_time], [room]) VALUES (2, 2, N'Tuesday', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Lab B-201')
INSERT [dbo].[TIMETABLES] ([timetable_id], [offer_id], [day_of_week], [start_time], [end_time], [room]) VALUES (3, 3, N'Wednesday', CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time), N'Room C-305')
SET IDENTITY_INSERT [dbo].[TIMETABLES] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_COOKIES] ON 

INSERT [dbo].[USER_COOKIES] ([cookie_id], [user_id], [cookie_hash], [expires_at], [created_at]) VALUES (27, 3, N'2456a00a40a0cce83ea0cd67efdb2e56f3015a50215a723c3f01ac206db70c54', CAST(N'2026-07-20T04:56:07.1633333' AS DateTime2), CAST(N'2026-06-20T04:56:07.1662747' AS DateTime2))
INSERT [dbo].[USER_COOKIES] ([cookie_id], [user_id], [cookie_hash], [expires_at], [created_at]) VALUES (32, 3, N'80d800b0f66834b9da3899c5906269e2c60aaf233b6e185f02cc242ff5f5832b', CAST(N'2026-07-20T05:36:38.8466667' AS DateTime2), CAST(N'2026-06-20T05:36:38.8472648' AS DateTime2))
INSERT [dbo].[USER_COOKIES] ([cookie_id], [user_id], [cookie_hash], [expires_at], [created_at]) VALUES (42, 3, N'282953ae9eb0ff0b680b6e049bfbe4551375d2e0c574a437b29feb589598a654', CAST(N'2026-07-20T12:58:55.5666667' AS DateTime2), CAST(N'2026-06-20T12:58:55.5697413' AS DateTime2))
SET IDENTITY_INSERT [dbo].[USER_COOKIES] OFF
GO
INSERT [dbo].[USERS] ([user_id], [username], [email], [password_hash], [role], [status], [created_at]) VALUES (1, N'admin', N'admin@newinti.edu.my', N'1f3ce40415a2081fa3eee75fc39fff8e56c22270d1a978a7249b592dcebd20b4', N'ADMIN', N'ACTIVE', CAST(N'2026-06-13T23:06:48.640' AS DateTime))
INSERT [dbo].[USERS] ([user_id], [username], [email], [password_hash], [role], [status], [created_at]) VALUES (2, N'lecturer', N'lecturer@lecturer.newinti.edu.my', N'1f3ce40415a2081fa3eee75fc39fff8e56c22270d1a978a7249b592dcebd20b4', N'LECTURER', N'ACTIVE', CAST(N'2026-06-13T23:06:48.640' AS DateTime))
INSERT [dbo].[USERS] ([user_id], [username], [email], [password_hash], [role], [status], [created_at]) VALUES (3, N'p26017888', N'p26017888@student.newinti.edu.my', N'268c86f53883653e8e3d8211b66bd669eb50e7d44587fe3392e678960a2cf94d', N'STUDENT', N'ACTIVE', CAST(N'2026-06-13T23:06:48.640' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ATTENDAN__DB120FB496FA18A6]    Script Date: 21/06/2026 19:31:31 ******/
ALTER TABLE [dbo].[ATTENDANCE_RECORDS] ADD UNIQUE NONCLUSTERED 
(
	[session_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CHAT_LOG__311E7E9B8906E598]    Script Date: 21/06/2026 19:31:31 ******/
ALTER TABLE [dbo].[CHAT_LOGS] ADD UNIQUE NONCLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRT_user_id]    Script Date: 21/06/2026 19:31:31 ******/
CREATE NONCLUSTERED INDEX [IX_PRT_user_id] ON [dbo].[PASSWORD_RESET_TOKENS]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROGRAMM__F5C394814A0E18A8]    Script Date: 21/06/2026 19:31:31 ******/
ALTER TABLE [dbo].[PROGRAMME_COURSES] ADD UNIQUE NONCLUSTERED 
(
	[programme_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SUBMISSI__682A287CBD9DF8D7]    Script Date: 21/06/2026 19:31:31 ******/
ALTER TABLE [dbo].[SUBMISSIONS] ADD UNIQUE NONCLUSTERED 
(
	[assignment_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_USER_COOKIES_cookie_hash]    Script Date: 21/06/2026 19:31:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_USER_COOKIES_cookie_hash] ON [dbo].[USER_COOKIES]
(
	[cookie_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__AB6E6164F8BACE4D]    Script Date: 21/06/2026 19:31:31 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F3DBC572B52E129C]    Script Date: 21/06/2026 19:31:31 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACADEMIC_WARNINGS] ADD  DEFAULT (getdate()) FOR [issued_date]
GO
ALTER TABLE [dbo].[ACADEMIC_WARNINGS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] ADD  CONSTRAINT [DF_ANNOUNCEMENTS_is_pinned]  DEFAULT ((0)) FOR [is_pinned]
GO
ALTER TABLE [dbo].[CHAT_LOGS] ADD  DEFAULT ((1)) FOR [turns]
GO
ALTER TABLE [dbo].[CHAT_LOGS] ADD  DEFAULT ((0)) FOR [duration_ms]
GO
ALTER TABLE [dbo].[CHAT_LOGS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CHAT_LOGS] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[COURSES] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[LECTURERS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[MATERIALS] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[NOTIFICATION_READS] ADD  CONSTRAINT [DF_NOTIFICATION_READS_read_at]  DEFAULT (sysutcdatetime()) FOR [read_at]
GO
ALTER TABLE [dbo].[PASSWORD_RESET_TOKENS] ADD  CONSTRAINT [DF_PRT_used]  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[PASSWORD_RESET_TOKENS] ADD  CONSTRAINT [DF_PRT_created]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  CONSTRAINT [DF_PAYMENTS_status]  DEFAULT ('PAID') FOR [status]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  CONSTRAINT [DF_PAYMENTS_paid_date]  DEFAULT (getdate()) FOR [paid_date]
GO
ALTER TABLE [dbo].[PROGRAMME_COURSES] ADD  DEFAULT ((1)) FOR [is_core]
GO
ALTER TABLE [dbo].[PROGRAMMES] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[STUDENTS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[SUBMISSIONS] ADD  DEFAULT ('SUBMITTED') FOR [status]
GO
ALTER TABLE [dbo].[USER_COOKIES] ADD  CONSTRAINT [DF_USER_COOKIES_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ACADEMIC_WARNINGS]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[ADMINS]  WITH CHECK ADD  CONSTRAINT [FK_ADMINS_USERS_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[ADMINS] CHECK CONSTRAINT [FK_ADMINS_USERS_user_id]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[ATTENDANCE_RECORDS]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[ATTENDANCE_SESSIONS] ([session_id])
GO
ALTER TABLE [dbo].[ATTENDANCE_RECORDS]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[ATTENDANCE_SESSIONS]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[CHAT_LOGS]  WITH CHECK ADD  CONSTRAINT [FK_CHAT_LOGS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[CHAT_LOGS] CHECK CONSTRAINT [FK_CHAT_LOGS_USERS]
GO
ALTER TABLE [dbo].[COURSE_LECTURERS]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSES] ([course_id])
GO
ALTER TABLE [dbo].[COURSE_LECTURERS]  WITH CHECK ADD FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSES] ([course_id])
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS]  WITH CHECK ADD FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSES] ([course_id])
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[ENROLLMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ENROLLMENTS_COURSE_OFFERINGS_offer_id] FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[ENROLLMENTS] CHECK CONSTRAINT [FK_ENROLLMENTS_COURSE_OFFERINGS_offer_id]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[LECTURERS]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENTS] ([department_id])
GO
ALTER TABLE [dbo].[LECTURERS]  WITH CHECK ADD  CONSTRAINT [FK_LECTURERS_USERS_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[LECTURERS] CHECK CONSTRAINT [FK_LECTURERS_USERS_user_id]
GO
ALTER TABLE [dbo].[MATERIALS]  WITH CHECK ADD FOREIGN KEY([module_id])
REFERENCES [dbo].[MODULES] ([module_id])
GO
ALTER TABLE [dbo].[MODULES]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[NOTIFICATION_READS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATION_READS_ANNOUNCEMENTS] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[ANNOUNCEMENTS] ([announcement_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTIFICATION_READS] CHECK CONSTRAINT [FK_NOTIFICATION_READS_ANNOUNCEMENTS]
GO
ALTER TABLE [dbo].[NOTIFICATION_READS]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICATION_READS_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTIFICATION_READS] CHECK CONSTRAINT [FK_NOTIFICATION_READS_USERS]
GO
ALTER TABLE [dbo].[PASSWORD_RESET_TOKENS]  WITH CHECK ADD  CONSTRAINT [FK_PRT_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PASSWORD_RESET_TOKENS] CHECK CONSTRAINT [FK_PRT_USERS]
GO
ALTER TABLE [dbo].[PROGRAMME_COURSES]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSES] ([course_id])
GO
ALTER TABLE [dbo].[PROGRAMME_COURSES]  WITH CHECK ADD FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[PROGRAMMES]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENTS] ([department_id])
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_USERS_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_USERS_user_id]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD FOREIGN KEY([assignment_id])
REFERENCES [dbo].[ASSIGNMENTS] ([assignment_id])
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offer_id])
GO
ALTER TABLE [dbo].[USER_COOKIES]  WITH CHECK ADD  CONSTRAINT [FK_USER_COOKIES_USERS] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[USER_COOKIES] CHECK CONSTRAINT [FK_USER_COOKIES_USERS]
GO
USE [master]
GO
