USE [master]
GO
/****** Object:  Database [StudentInformationManagementSystem]    Script Date: 21/05/2026 15:39:36 ******/
CREATE DATABASE [StudentInformationManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentInformationManagementSystem', FILENAME = N'C:\Users\zhibo\StudentInformationManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentInformationManagementSystem_log', FILENAME = N'C:\Users\zhibo\StudentInformationManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentInformationManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentInformationManagementSystem]
GO
/****** Object:  Table [dbo].[ACADEMIC_CALENDAR]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMIC_CALENDAR](
	[calendar_id] [int] IDENTITY(1,1) NOT NULL,
	[semester_id] [int] NOT NULL,
	[event_type] [varchar](50) NOT NULL,
	[event_name] [varchar](100) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[calendar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENT_TARGETS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENT_TARGETS](
	[target_id] [int] IDENTITY(1,1) NOT NULL,
	[announcement_id] [int] NOT NULL,
	[offering_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[target_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENTS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENTS](
	[announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[content] [text] NOT NULL,
	[file_url] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSIGNMENTS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNMENTS](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[due_date] [date] NOT NULL,
	[file_url] [varchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[enrolment_id] [int] NOT NULL,
	[attendance_date] [date] NOT NULL,
	[status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_MATERIALS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_MATERIALS](
	[material_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[week] [int] NULL,
	[file_url] [varchar](255) NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_OFFERINGS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_OFFERINGS](
	[offering_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[semester_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [varchar](100) NOT NULL,
	[course_code] [varchar](20) NOT NULL,
	[programme_id] [int] NOT NULL,
	[credit_hours] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMAILS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMAILS](
	[email_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[recipient_email] [varchar](100) NOT NULL,
	[subject] [varchar](255) NOT NULL,
	[body] [text] NOT NULL,
	[email_type] [varchar](30) NOT NULL,
	[otp_code] [varchar](10) NULL,
	[otp_expires_at] [datetime2](7) NULL,
	[sent_at] [datetime2](7) NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENROLMENTS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLMENTS](
	[enrolment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[offering_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[enrolment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[enrolment_id] [int] NOT NULL,
	[marks] [decimal](5, 2) NULL,
	[gpa] [decimal](3, 2) NULL,
	[grade] [varchar](2) NULL,
	[published] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTURERS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTURERS](
	[lecturer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[department] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lecturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[enrolment_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[payment_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMMES]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMMES](
	[programme_id] [int] IDENTITY(1,1) NOT NULL,
	[programme_name] [varchar](100) NOT NULL,
	[programme_code] [varchar](20) NOT NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[programme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTERS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTERS](
	[semester_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_current] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[semester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[programme_id] [int] NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBMISSIONS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBMISSIONS](
	[submission_id] [int] IDENTITY(1,1) NOT NULL,
	[assignment_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[file_url] [varchar](255) NOT NULL,
	[submit_date] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[marks] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[submission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHINGS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHINGS](
	[teaching_id] [int] IDENTITY(1,1) NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[offering_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[teaching_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETABLES]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETABLES](
	[timetable_id] [int] IDENTITY(1,1) NOT NULL,
	[offering_id] [int] NOT NULL,
	[venue] [varchar](100) NOT NULL,
	[day_of_week] [varchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[timetable_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 21/05/2026 15:39:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [uq_announcement_offering]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS] ADD  CONSTRAINT [uq_announcement_offering] UNIQUE NONCLUSTERED 
(
	[announcement_id] ASC,
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_attendance_record]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[ATTENDANCE] ADD  CONSTRAINT [uq_attendance_record] UNIQUE NONCLUSTERED 
(
	[enrolment_id] ASC,
	[attendance_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_course_semester]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[COURSE_OFFERINGS] ADD  CONSTRAINT [uq_course_semester] UNIQUE NONCLUSTERED 
(
	[course_id] ASC,
	[semester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COURSES__AB6B45F115FB2A61]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[COURSES] ADD UNIQUE NONCLUSTERED 
(
	[course_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_student_offering]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[ENROLMENTS] ADD  CONSTRAINT [uq_student_offering] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GRADES__3414600A8F3015AB]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[GRADES] ADD UNIQUE NONCLUSTERED 
(
	[enrolment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__LECTURER__B9BE370EFB80492D]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[LECTURERS] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PROGRAMM__CF41A7BF36E4825D]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[PROGRAMMES] ADD UNIQUE NONCLUSTERED 
(
	[programme_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__STUDENTS__B9BE370E56014ADF]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[STUDENTS] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_assignment_student]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[SUBMISSIONS] ADD  CONSTRAINT [uq_assignment_student] UNIQUE NONCLUSTERED 
(
	[assignment_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_lecturer_offering]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[TEACHINGS] ADD  CONSTRAINT [uq_lecturer_offering] UNIQUE NONCLUSTERED 
(
	[lecturer_id] ASC,
	[offering_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__AB6E6164408CB123]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USERS__F3DBC572538E241F]    Script Date: 21/05/2026 15:39:37 ******/
ALTER TABLE [dbo].[USERS] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ASSIGNMENTS] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] ADD  DEFAULT (sysdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[EMAILS] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[ENROLMENTS] ADD  DEFAULT ('ENROLLED') FOR [status]
GO
ALTER TABLE [dbo].[GRADES] ADD  DEFAULT ((0)) FOR [published]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[SEMESTERS] ADD  DEFAULT ((0)) FOR [is_current]
GO
ALTER TABLE [dbo].[STUDENTS] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[SUBMISSIONS] ADD  DEFAULT (sysdatetime()) FOR [submit_date]
GO
ALTER TABLE [dbo].[SUBMISSIONS] ADD  DEFAULT ('SUBMITTED') FOR [status]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR]  WITH CHECK ADD  CONSTRAINT [fk_calendar_semester] FOREIGN KEY([semester_id])
REFERENCES [dbo].[SEMESTERS] ([semester_id])
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR] CHECK CONSTRAINT [fk_calendar_semester]
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS]  WITH CHECK ADD  CONSTRAINT [fk_target_announcement] FOREIGN KEY([announcement_id])
REFERENCES [dbo].[ANNOUNCEMENTS] ([announcement_id])
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS] CHECK CONSTRAINT [fk_target_announcement]
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS]  WITH CHECK ADD  CONSTRAINT [fk_target_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[ANNOUNCEMENT_TARGETS] CHECK CONSTRAINT [fk_target_offering]
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS]  WITH CHECK ADD  CONSTRAINT [fk_announcement_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[ANNOUNCEMENTS] CHECK CONSTRAINT [fk_announcement_user]
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD  CONSTRAINT [fk_assignment_lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[ASSIGNMENTS] CHECK CONSTRAINT [fk_assignment_lecturer]
GO
ALTER TABLE [dbo].[ASSIGNMENTS]  WITH CHECK ADD  CONSTRAINT [fk_assignment_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[ASSIGNMENTS] CHECK CONSTRAINT [fk_assignment_offering]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [fk_attendance_enrolment] FOREIGN KEY([enrolment_id])
REFERENCES [dbo].[ENROLMENTS] ([enrolment_id])
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [fk_attendance_enrolment]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS]  WITH CHECK ADD  CONSTRAINT [fk_material_lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] CHECK CONSTRAINT [fk_material_lecturer]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS]  WITH CHECK ADD  CONSTRAINT [fk_material_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] CHECK CONSTRAINT [fk_material_offering]
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS]  WITH CHECK ADD  CONSTRAINT [fk_offering_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSES] ([course_id])
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS] CHECK CONSTRAINT [fk_offering_course]
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS]  WITH CHECK ADD  CONSTRAINT [fk_offering_semester] FOREIGN KEY([semester_id])
REFERENCES [dbo].[SEMESTERS] ([semester_id])
GO
ALTER TABLE [dbo].[COURSE_OFFERINGS] CHECK CONSTRAINT [fk_offering_semester]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [fk_courses_programme] FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [fk_courses_programme]
GO
ALTER TABLE [dbo].[EMAILS]  WITH CHECK ADD  CONSTRAINT [fk_email_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EMAILS] CHECK CONSTRAINT [fk_email_user]
GO
ALTER TABLE [dbo].[ENROLMENTS]  WITH CHECK ADD  CONSTRAINT [fk_enrolment_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[ENROLMENTS] CHECK CONSTRAINT [fk_enrolment_offering]
GO
ALTER TABLE [dbo].[ENROLMENTS]  WITH CHECK ADD  CONSTRAINT [fk_enrolment_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[ENROLMENTS] CHECK CONSTRAINT [fk_enrolment_student]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [fk_grade_enrolment] FOREIGN KEY([enrolment_id])
REFERENCES [dbo].[ENROLMENTS] ([enrolment_id])
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [fk_grade_enrolment]
GO
ALTER TABLE [dbo].[LECTURERS]  WITH CHECK ADD  CONSTRAINT [fk_lecturer_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[LECTURERS] CHECK CONSTRAINT [fk_lecturer_user]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [fk_payment_enrolment] FOREIGN KEY([enrolment_id])
REFERENCES [dbo].[ENROLMENTS] ([enrolment_id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [fk_payment_enrolment]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [fk_student_programme] FOREIGN KEY([programme_id])
REFERENCES [dbo].[PROGRAMMES] ([programme_id])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [fk_student_programme]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [fk_student_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[USERS] ([user_id])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [fk_student_user]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [fk_submission_assignment] FOREIGN KEY([assignment_id])
REFERENCES [dbo].[ASSIGNMENTS] ([assignment_id])
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [fk_submission_assignment]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [fk_submission_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENTS] ([student_id])
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [fk_submission_student]
GO
ALTER TABLE [dbo].[TEACHINGS]  WITH CHECK ADD  CONSTRAINT [fk_teaching_lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[LECTURERS] ([lecturer_id])
GO
ALTER TABLE [dbo].[TEACHINGS] CHECK CONSTRAINT [fk_teaching_lecturer]
GO
ALTER TABLE [dbo].[TEACHINGS]  WITH CHECK ADD  CONSTRAINT [fk_teaching_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[TEACHINGS] CHECK CONSTRAINT [fk_teaching_offering]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [fk_timetable_offering] FOREIGN KEY([offering_id])
REFERENCES [dbo].[COURSE_OFFERINGS] ([offering_id])
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [fk_timetable_offering]
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR]  WITH CHECK ADD  CONSTRAINT [chk_calendar_dates] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[ACADEMIC_CALENDAR] CHECK CONSTRAINT [chk_calendar_dates]
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD  CONSTRAINT [chk_attendance_status] CHECK  (([status]='LATE' OR [status]='ABSENT' OR [status]='PRESENT'))
GO
ALTER TABLE [dbo].[ATTENDANCE] CHECK CONSTRAINT [chk_attendance_status]
GO
ALTER TABLE [dbo].[COURSE_MATERIALS]  WITH CHECK ADD  CONSTRAINT [chk_material_week] CHECK  (([week] IS NULL OR [week]>(0)))
GO
ALTER TABLE [dbo].[COURSE_MATERIALS] CHECK CONSTRAINT [chk_material_week]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [chk_credit_hours] CHECK  (([credit_hours]>(0)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [chk_credit_hours]
GO
ALTER TABLE [dbo].[EMAILS]  WITH CHECK ADD  CONSTRAINT [chk_email_status] CHECK  (([status]='FAILED' OR [status]='SENT' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[EMAILS] CHECK CONSTRAINT [chk_email_status]
GO
ALTER TABLE [dbo].[EMAILS]  WITH CHECK ADD  CONSTRAINT [chk_email_type] CHECK  (([email_type]='ANNOUNCEMENT' OR [email_type]='NOTIFICATION' OR [email_type]='OTP'))
GO
ALTER TABLE [dbo].[EMAILS] CHECK CONSTRAINT [chk_email_type]
GO
ALTER TABLE [dbo].[ENROLMENTS]  WITH CHECK ADD  CONSTRAINT [chk_enrolment_status] CHECK  (([status]='COMPLETED' OR [status]='DROPPED' OR [status]='ENROLLED'))
GO
ALTER TABLE [dbo].[ENROLMENTS] CHECK CONSTRAINT [chk_enrolment_status]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [chk_grade_gpa] CHECK  (([gpa] IS NULL OR [gpa]>=(0) AND [gpa]<=(4.00)))
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [chk_grade_gpa]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD  CONSTRAINT [chk_grade_marks] CHECK  (([marks] IS NULL OR [marks]>=(0) AND [marks]<=(100)))
GO
ALTER TABLE [dbo].[GRADES] CHECK CONSTRAINT [chk_grade_marks]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [chk_payment_amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [chk_payment_amount]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [chk_payment_status] CHECK  (([status]='REFUNDED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [chk_payment_status]
GO
ALTER TABLE [dbo].[SEMESTERS]  WITH CHECK ADD  CONSTRAINT [chk_semester_dates] CHECK  (([end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[SEMESTERS] CHECK CONSTRAINT [chk_semester_dates]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [chk_student_status] CHECK  (([status]='SUSPENDED' OR [status]='GRADUATED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [chk_student_status]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [chk_submission_marks] CHECK  (([marks] IS NULL OR [marks]>=(0) AND [marks]<=(100)))
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [chk_submission_marks]
GO
ALTER TABLE [dbo].[SUBMISSIONS]  WITH CHECK ADD  CONSTRAINT [chk_submission_status] CHECK  (([status]='RESUBMITTED' OR [status]='MARKED' OR [status]='LATE' OR [status]='SUBMITTED'))
GO
ALTER TABLE [dbo].[SUBMISSIONS] CHECK CONSTRAINT [chk_submission_status]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [chk_timetable_day] CHECK  (([day_of_week]='Sunday' OR [day_of_week]='Saturday' OR [day_of_week]='Friday' OR [day_of_week]='Thursday' OR [day_of_week]='Wednesday' OR [day_of_week]='Tuesday' OR [day_of_week]='Monday'))
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [chk_timetable_day]
GO
ALTER TABLE [dbo].[TIMETABLES]  WITH CHECK ADD  CONSTRAINT [chk_timetable_time] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[TIMETABLES] CHECK CONSTRAINT [chk_timetable_time]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [chk_users_role] CHECK  (([role]='STUDENT' OR [role]='LECTURER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [chk_users_role]
GO
USE [master]
GO
