<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SimsDb" connectionString="Server=(localdb)\MSSQLLocalDB;Database=StudentInformationManagementSystem;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp configSource="smtp.config"/>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="26624" executionTimeout="300"/>
    <!-- Parse .aspx/.master source as UTF-8 (they have no BOM) and send UTF-8
         responses, so non-Latin text (Arabic, Chinese, Tamil, ...) renders. -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="27262976"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="login/login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>